<app-ui-container>    
    <div>
        <app-navigation>Repositories</app-navigation>
        <div>
            <app-search (searchTextChange)="searchTextChange($event)"></app-search>
        </div>
        <div>
            <app-filter 
                [languages]="languages" 
                [stars]="stars"
                (languageChange)="languageSelectionChange($event)"
                (minStarsChange)="minimumStarsValueChange($event)">
            </app-filter>
        </div>
    </div>
    <div>
        <app-repo-table 
            [dataSource]="dataSource" 
            (rowClick)="tableRowClick($event)">
        </app-repo-table>
    </div>
    <div>
        <mat-paginator 
            [length]="repos.count" 
            [pageSize]="perPageRecordsCount"
            (page)="pageChange($event)">
        </mat-paginator>
    </div>
</app-ui-container>