<app-ui-container>
    <app-navigation>
        Commits - {{repo}}
    </app-navigation>
    <div>
        <app-search (searchTextChange)="searchTextChange($event)"></app-search>
    </div>
    <div>
        <app-commit-table [dataSource]="commits.items"></app-commit-table>
    </div>
    <div *ngIf="commits.count">
        <mat-paginator 
            [length]="commits.count" 
            [pageSize]="perPageRecordsCount" 
            (page)="pageChange($event)">
        </mat-paginator>
    </div>
</app-ui-container>

