<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef class="avatar-cell">Avatar</th>
    <td mat-cell *matCellDef="let element" class="avatar-cell">
      <img src="{{element.avatarUrl}}"/>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="name-cell">Name</th>
    <td mat-cell *matCellDef="let element" class="name-cell">{{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="language">
    <th mat-header-cell *matHeaderCellDef class="language-cell"> Language </th>
    <td mat-cell *matCellDef="let element" class="language-cell">{{element.language}}</td>
  </ng-container>
  <ng-container matColumnDef="stars">
    <th mat-header-cell *matHeaderCellDef class="stars-cell">Stars</th>
    <td mat-cell *matCellDef="let element" class="stars-cell">{{element.stars}}</td>
  </ng-container>
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef class="date-cell">Created at</th>
    <td mat-cell *matCellDef="let element" class="date-cell">{{element.createdAt | date : 'short'}}</td>
  </ng-container>

  <ng-container matColumnDef="noData">
    <td class="text-align-center" mat-footer-cell *matFooterCellDef [attr.colspan]="columns.length">
      No records found.
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;" (click)="click(row)"></tr>

  <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource.length !== 0"></tr>
</table>