@mixin uiContainer($margin, $padding) {
    .ui-container {
        margin: $margin;
        padding: $padding;
    }
}

@media (max-width: 414px) {
    $margin: 5px 5px;
    $padding: 5px 5px;

    @include uiContainer($margin, $padding);
}

@media (min-width: 415px) and (max-width: 600px) {
    $margin: 5px 20px;
    $padding: 5px 20px;

    @include uiContainer($margin, $padding);
}

@media (min-width: 601px) and (max-width: 767px) {
    $margin: 10px 30px;
    $padding: 10px 30px;

    @include uiContainer($margin, $padding);
}

@media (min-width: 768px) and (max-width: 864px) {
    $margin: 10px 50px;
    $padding: 10px 50px;

    @include uiContainer($margin, $padding);
}

@media (min-width: 865px) and (max-width: 1023px) {
    $margin: 10px 60px;
    $padding: 10px 60px;

    @include uiContainer($margin, $padding);
}

@media (min-width: 1024px) and (max-width:  1160px) {
    $margin: 10px 100px;
    $padding: 10px 100px;

    @include uiContainer($margin, $padding);
}

@media (min-width: 1161px) and (max-width:  1365px) {
    $margin: 10px 130px;
    $padding: 10px 130px;

    @include uiContainer($margin, $padding);
}

@media (min-width: 1366px) and (max-width: 1665px) {
    $margin: 10px 150px;
    $padding: 10px 150px;

    @include uiContainer($margin, $padding);
}

@media (min-width: 1666px) and (max-width: 1800px) {
    $margin: 10px 250px;
    $padding: 10px 250px;

    @include uiContainer($margin, $padding);
}

@media (min-width: 1801px) {
    $margin: 10px 300px;
    $padding: 10px 300px;

    @include uiContainer($margin, $padding);
}