@mixin name($cellMinWidth) {
    .name-cell {
        width: $cellMinWidth * 1px;
    }
}

@mixin url($cellMinWidth) {
    .url-cell {
        width: $cellMinWidth * 1px;
    }
}

@mixin message($hide) {
    .message-cell {
        flex: 1;
        max-width: 30vw;
        
        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    @if $hide {
        .message-cell {
            display: none;
        }
    }
}