@import "../../../common-mixins";
@import "./mixins";

@media (max-width: 414px) {
    @include url(100);
    @include name(150);
    @include message(true);
}

@media (min-width: 415px) {
    @include url(100);
    @include name(150);
    @include message(false);
}

@include mat-table();

.mat-row .mat-cell {
    cursor: default;
}

table {
    width: 100%;
}

.text-align-center {
    text-align: center;
}
