<div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Language</mat-label>
      <mat-select multiple (selectionChange)="languageSelectionChange($event)">
        <mat-option *ngFor="let language of languages" [value]="language">
          {{language}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <label class="mat-header-cell block">Stars</label>
    <mat-slider thumbLabel (change)="minStarsValueChange($event)" 
      [displayWith]="formatLabel" 
      [tickInterval]="tickInterval"
      [step]="steps" [min]="min" [max]="max">
    </mat-slider>
  </div>
</div>


