.avatar-cell {
    min-width: 70px;
}

.name-cell {
    min-width: 345px;;
}

.language-cell {
    min-width: 170px;
}

.stars-cell {
    min-width: 170px;
}

.date-cell {
    min-width: 170px;
}

.avatar {
    border-radius: 25px;
    width: 50px;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }