<div class="home-container-flex">
    <mat-card>
        <mat-card-subtitle>Search Respositories</mat-card-subtitle>
        <mat-card-title>Search Respositories</mat-card-title>
        <mat-card-content>
            <p>Refer this Github
                <a href="https://docs.github.com/en/github/searching-for-information-on-github/searching-on-github/searching-for-repositories"
                    target="_blank">
                    link
                </a>
                to know how to form search text.
                </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <button mat-button routerLink="repos">OPEN</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>Search Commits</mat-card-subtitle>
        <mat-card-title>Search Commits</mat-card-title>
        <mat-card-content>
            <p>Refer this Github
                <a href="https://docs.github.com/en/github/searching-for-information-on-github/searching-on-github/searching-commits"
                    target="_blank">
                    link
                </a>
                to know how to form search text.
                </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <button mat-button routerLink="commits">OPEN</button>
        </mat-card-actions>
    </mat-card>
</div>